@{
  Layout = "_Layout";
}
@using Treat.Models;

<div class="container">
  <div class="jumbotron">
    <h4>Snacks</h4>
    <h1>@Model.Name </h1>
    <small>@Model.Disc</small>
  </div>
  <h3>Flavors this snack comes in:</h3>
  @if (Model.Flavors.Count == 0)
  {
    <p>@Model.Name has no Flavors availabe.</p>
  }

  <ul>
    @foreach (FlavorSnack flavorsnack in Model.Flavors)
    {
      <li>@flavorsnack.Flavor.Name</li>
    }
  </ul>
  @Html.ActionLink("Edit Snack","Edit", new {id=Model.SnackId}, new { @class="btn btn-info" })
  @Html.ActionLink("Delete Snack","Delete",new {id=Model.SnackId}, new { @class="btn btn-info" })
  @Html.ActionLink("Add a Flavor","AddFlavor",new {id=Model.SnackId}, new { @class="btn btn-info" })
</div>