@{
  Layout = "_Layout";
}

@model Treat.Models.Flavor

<h2>Add a Snack</h2>
<h4>Add a Snack to this Flavor: @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.Label("Select Snack")
  @Html.DropDownList("SnackId")
  <input type="submit" value="Save" />
}
<button>@Html.ActionLink("Back to list", "Index")</button>
