@{
  Layout = "_Layout";
}
@using Treat.Models;

<div class="container">
  <div class="jumbotron">
    <h4>Flavors</h4>
    <h1>@Model.Name </h1>
    <small>@Model.Disc</small>
  </div>
  <h3>Snacks with this flavor:</h3>
  @if (Model.Snacks.Count == 0)
  {
    <p> No Snacks availabe with @Model.Name</p>
  }

  <ul>
    @foreach (FlavorSnack flavorsnack in Model.Snacks)
    {
      <li>@flavorsnack.Snack.Name</li>
    }
  </ul>
  @Html.ActionLink("Edit Flavor","Edit", new {id=Model.FlavorId}, new { @class="btn btn-info" })
  @Html.ActionLink("Delete Flavor","Delete",new {id=Model.FlavorId}, new { @class="btn btn-info" })
  @Html.ActionLink("Add a Snack","AddSnack",new {id=Model.FlavorId}, new { @class="btn btn-info" })
</div>